/* line 4, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
body {
  width: 100%;
  height: 100%;
  font-family: helvetica;
  color: white;
  background-color: black; }

/* line 12, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
html {
  width: 100%;
  height: 100%; }

/* line 17, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

/* line 31, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5; }
  @media (min-width: 768px) {
    /* line 31, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    p {
      margin: 0 0 35px;
      font-size: 20px;
      line-height: 1.6; } }

/* line 42, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
a {
  color: #42DCA3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  /* line 47, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  a:hover, a:focus {
    text-decoration: none;
    color: #1d9b6c; }

/* line 55, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
.light {
  font-weight: 400; }

/* line 59, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: black; }
  /* line 65, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .navbar-custom .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: white; }
    /* line 69, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
      outline: none; }
  /* line 74, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .navbar-custom .navbar-brand {
    font-weight: 700; }
    /* line 76, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    .navbar-custom .navbar-brand:focus {
      outline: none; }
  /* line 80, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .navbar-custom a {
    color: white; }
  /* line 85, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out; }
    /* line 89, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    .navbar-custom .nav li a:hover {
      color: rgba(255, 255, 255, 0.8);
      outline: none;
      background-color: #999; }
    /* line 94, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    .navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
      outline: none;
      background-color: transparent; }
  /* line 100, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .navbar-custom .nav li.active {
    outline: none; }
    /* line 102, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    .navbar-custom .nav li.active a {
      background-color: rgba(255, 255, 255, 0.3); }
      /* line 104, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
      .navbar-custom .nav li.active a:hover {
        color: white; }
  @media (min-width: 768px) {
    /* line 59, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    .navbar-custom {
      padding: 20px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: transparent;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out; }
      /* line 120, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
      .navbar-custom.top-nav-collapse {
        padding: 0;
        background: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }

/* line 129, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
blockquote h4 a {
  margin-top: 20px;
  margin-bottom: 0; }

/* line 134, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
blockquote i {
  color: darkcyan;
  font-weight: bold;
  letter-spacing: 2px;
  font-style: Monospace;
  font-size: 20px; }

/* line 144, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/bg-6.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  /* line 157, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
    /* line 160, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    .intro .intro-body .brand-heading {
      font-size: 40px;
      padding: 0 25px; }
    /* line 164, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    .intro .intro-body .intro-text {
      font-size: 18px; }
  @media (min-width: 768px) {
    /* line 144, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    .intro {
      height: 100%;
      padding: 0; }
      /* line 172, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
      .intro .intro-body .brand-heading {
        font-size: 100px; }
      /* line 175, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
      .intro .intro-body .intro-text {
        font-size: 26px; } }
  /* line 180, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .intro h4 {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 3px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 10px 0 !important;
    animation: tagline 2s ease infinite alternate; }

@keyframes tagline {
  0% {
    opacity: 0.5;
    transform: translate(30px); }
  100% {
    opacity: 1;
    transform: translate(-30px); } }
  /* line 195, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .intro p {
    font-size: 20px !important;
    border-left: 5px solid white; }

/* line 201, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  /* line 214, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .btn-circle:hover, .btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.1); }
  /* line 220, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s; }
  /* line 227, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1) translateY(-10px);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2) translateY(0px);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1) translateY(10px);
    opacity: 1; } }

@-moz-keyframes pulse {
  from {
    -moz-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }

/* line 277, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
.content-section {
  padding-top: 100px; }

/* line 281, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
.projects-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/bg-4.jpeg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

/* line 293, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px; }

@media (min-width: 767px) {
  /* line 300, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .content-section {
    padding-top: 250px; }
  /* line 304, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .projects-section {
    padding: 100px 0; }
  /* line 308, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  #map {
    height: 400px;
    margin-top: 250px; } }

/* line 314, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0; }

/* line 324, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent; }
  /* line 328, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #42DCA3;
    outline: none;
    color: black;
    background-color: #42DCA3; }

/* line 337, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    /* line 337, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    /* line 343, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      /* line 347, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

/* line 354, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
footer {
  padding: 50px 0; }
  /* line 356, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
  footer p {
    margin: 0; }

/* line 361, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

/* line 367, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

/* line 373, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
img::selection {
  background: transparent; }

/* line 377, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
img::-moz-selection {
  background: transparent; }

/* line 381, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

/* Styling Tooltips*/
/* line 386, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
.tooltips + .tooltip > .tooltip-inner {
  background-color: #111;
  color: #FFFFFF;
  border: 1px solid #0e8968;
  font-size: 14px; }

/* line 393, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
#contact ul li a {
  margin: 0;
  border: none;
  border-radius: 50%; }

/* line 400, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
#projects a {
  border: none;
  background-color: none;
  border-radius: 50%; }

/* line 407, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
footer p {
  font-size: 15px; }

/* line 411, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
.brand-heading {
  font-size: 32px !important; }

/* line 414, G:/Development/Development/Live Projects/personalWebsite/sass/grayscale.scss */
#about {
  margin-top: -100px; }

/*# sourceMappingURL=grayscale.css.map */